@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  font-size: 100%;
  font-family: Arial;
 }

 h3 {
  color: #ff5722;
  padding-left: 20px;
  text-transform: lowercase;
  font-size: 1.25em;
  
}

div :hover {
  color: #2d4059;
}

.resume {
  width: 1100px;
  height: 1300px;
  background: #2d4059;
  color: #ffffff;
  margin: 20px auto;
  box-shadow: 10px 10px #222831;
  position: relative;
  
}

.profile {
  
  width: 23%;
  height: 1300px;
  background: #5dacbd;
  color: #ffffff;
  position: absolute;
  text-align: left;
  

}

.profile::after {
  content: "";
  position: absolute;
  background: white;
  width: 100%;
  height: 30px;
  top: 275px;
  left: 0px;
  transform: skewY(-5deg);
  z-index: 1;
  
  }

.profile h3 {
  margin-top: 350px;
}


.photo
{
  
    height: 300px; 
    width: 23%;
    background-color: #ff5722;
    position: absolute;  
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
  }  

.about-me {
  height: 500px;
  
  background-color: #5dacbd ;
  position: relative;
  margin-top: 300px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  
  
}

.contact {
    position: relative;
    line-height: 26px;
    text-decoration: white;
    align-items: flex-start;
    margin-left: 20px;
    height: 100px;
    display:flex;
    flex-direction: column;
      
    
    
   }

   .contact i {
    color:  #ff5722;
    width: 60px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
    transition-duration: 0.3s;
   }

   .follow {
     position: relative;
     height: 300px;
   }

   

   .follow.box {
    display: flexbox;
    vertical-align: text-bottom;
   }

  }
  .follow .box a:hover i {
    background:  #2d4059;
    border-radius: 5px;
    transform: rotate(45deg) scale(0.8);
  }
  .follow .box a:hover i::before {
    transform: rotate(-45deg) scale(1.5);
  }
  
  .follow .box i {
    display: inline-block;
    font-size: 30px;
    background:  #ff5722;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    color:  #2d4059;
    margin: 0 10px 10px 10px;
    transition-duration: 0.3s;
    text-align: center;
  }
  .follow .box i::before {
    transition-duration: 0.3s;
  }
  .follow .box i.fa::before {
    display: block;
  }

.experience {
  width: 350px;
  background: #929292;
  margin-top: 30px;
  margin-left: 26%;
  
  height: 300px;
  
  position:absolute;
  display: inline-block;
}

.education {
  width: 350px;
  background: #929292;
  margin-top: 30px;
  margin-left:64%;
  
  height: 300px;
 
  position:absolute;
  display: inline-block;
}

.programming-skills {

  width: 770px;
  background-color:#929292 ;
  height: 260px;
  position: absolute;
  margin-top: 400px;
  margin-left: 26%;
  display: inline-block;
  padding-top: 20px;
  align-content: center;
  }

.software-skills {
  width: 770px;
  background-color:#929292 ;
  height: 240px;
  position: relative;
  margin-top: 700px;
  margin-left: 26%;
  display:inline-block;
  padding-top: 20px;
  }


.interests {
  width: 770px;
  background-color:#929292 ;
  height: 240px;
  position: relative;
  margin-top: 60px;
  margin-left: 26%;
  padding-top: 20px;
  align-items: ;
}

h3 {
  color: #ff5722;
  margin: 10px 0;
  text-transform: lowercase;
  font-size: 1.25em;
}

.bar {
  width: 95%;
  height: 20px;
  border-radius: 25px;
  background-color: white;
  overflow: hidden;
  position: relative;
  opacity: 0.9;
}

.progress {
  
  height: 100%;
  background-color: #ff5722;
}

.flex-container {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  
  justify-content:space-between;

 
}


.flex-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: #ff5722;
  
}

.flex-container div i {
  font-size: 45px;
  line-height: 60px;
  color: #ff5722;
  transition-duration: 0.3s;
  justify-content: center;
  align-items:center;
}

.flex-container div i:hover {
  transform:scale(1.2);
  
}

.flex-container div span:hover {
  transition-duration: 0.3s;
  color: #ff5722;
}

.flex-container div span {
color: #ffffff;
display: block;
}



.circularPercentage {
  transform: rotate(-90deg);
}


.svg-box ul{
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
}

